*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  
  background-color: lightgrey;
  font-size: 15px;
  min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
  border-radius: 1.5em;
  text-align: center;
  background-color: white;
  width: 25%;
  height: 50%;
  position: absolute;
  left: 40%;
  top: 8%;
}

.container2{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em -10px;
}
.container2 img{
    border-radius: 15px;
    width: 50%;
}
.container-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    text-align: center;
    line-height: 1.2;
}
.container-description p{
  font-family: Outfit;
  font-weight: 700;
  width: 13em;
  margin-top: 8px;
  line-height: 1.2;
}
.container-description h6{
  font-family: Outfit;
  font-weight: 400;
  color: lightgrey;
  margin-top: 1.2em;
  width: 16em;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  position: absolute;
  bottom: 0;
    left: 42%;
    margin: 20px;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px) {
    .container{
        width: 80%;
        position: absolute;
        left: 10%;
        height: 60%;
        margin: 4em 0;
    }

    .container-img img{
        width: 85%;
    }

    .container-description{
        margin-top: 2em;
        font-size: 11px;
    }

    .container-description p{
        font-size: 15px;
    }

    .attribution{
        left: 0;
        width: 95%;
    }

}